<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" style="text-decoration: none; color: black;">Hello, @context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link" style="text-decoration: none; color: black;">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" style="text-decoration: none; color: black;">Register</a>
        <a href="Identity/Account/Login" style="text-decoration: none; color: black;">Log in</a>
    </NotAuthorized>
</AuthorizeView>
